<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header-js"/>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post" style="padding: 8%">
            <div><label> User Name : <input type="text" name="username" class="materialize-textarea"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="materialize-textarea"/> </label></div>
            <div><input type="submit" value="Sign In" class="waves-effect waves-light green btn"/></div>
        </form>
    </body>
</html>